# Zig stuff (Love you but not these skree skree)
/zig-cache/
.zig-cache/
zig-out/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/

# No. No editor stuff.
.idea/
    # Who the hell still uses this thing?
.vscode/
